.search-ticket-container-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.search-ticket-table-info{
    margin: 10px;
}

.search-ticket-table-description{
    margin: 10px;
}

.search-ticket-table-total{
    margin: 10px;
}